<nav class="navbar navbar-default"> <!--navbar-fixed-top-->
	<div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">konstantin.y</a>
          <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
		
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">
            <li class="dropdown disabled">
              <a class="dropdown-toggle disabled" data-toggle="dropdown" href="#" id="themes">Programming <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="../default/">Default</a></li>
                <li class="divider"></li>
                <li><a href="../cerulean/">Web</a></li>
                <li><a href="../cosmo/">Desktop</a></li>
				<li><a href="../cosmo/">Embedded</a></li>
              </ul>
            </li>
            
			<li class="disabled">
              <a href="http://news.bootswatch.com">Mechanical Engineering</a>
            </li>
			
			<li class="disabled">
              <a href="../help/">Industrial Design</a>
            </li>
            
			<li class="dropdown disabled">
              <a class="dropdown-toggle disabled" data-toggle="dropdown" href="#" id="download">Travel <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="download">
                <li><a href="http://uponspokedwings.weebly.com/">CA->AK</a></a></li>
                <li class="divider"></li>
                <li><a href="https://plus.google.com/b/117376142999847741176/">Google+ Photos</a></li>
              </ul>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a href="https://github.com/knsy" target="_blank">@github</a></li>
            <li><a href="https://www.linkedin.com/in/kyakovenko" target="_blank">@linkedin</a></li>
			<li><a href="https://plus.google.com/b/117376142999847741176/" target="_blank">@g+</a></li>
          </ul>

        </div>
	
	</div>
</nav>

<!--spacer to push the content down below the menu-->
<div class="container">
	<div class="row">
		<div class="col-md-12">
			
		</div>
	</div>
</div>


<div class="container">
	<div class="bs-docs-section">
		<div class="jumbotron" id="intro">
		<div class="row">
			<div class="col-md-2 right">
				<h1>Morning!</h1>
			</div>		
		</div>

		<div class="row">
		  <div class="col-md-10 col-md-offset-2"> 
		  
		  <p>I am Konstantin. I make applications. I build robots. I create.</p>
		  <p>Around this site you'll find things I am passionate about.</p>
		  <p>Below, you will find my resume.</p>
		  </div>
		</div>
		</div>
	</div>
</div>

<!--Skills Section-->
<div class="container">
	<div class="bs-docs-section">
		<div class="page-header">
          <div class="row">
            <div class="col-md-12">
              <h3 id="buttons">Skills:</h3>
            </div>
          </div>
        </div>
	
	<!--Skills 1-->
	<div class="row">
		<div class="entry">
			<div class="col-md-2 company">
				<p class="compName">Web:</p>
			</div>
			
			<div class="col-md-7">
				<p>HTML | CSS | JavaScript | jQuery | Node.js | Bootstrap | MySql</p>
			</div>
			
			<div class="col-md-3">
				<!-- Image here? -->
			</div>
		</div>
	</div>
	
	<!--School 2-->
	<div class="row">
		<div class="entry">
			<div class="col-md-2 company">
				<p class="compName">General:</p>
			</div>
			
			<div class="col-md-7">
				<p>C++ | Qt | git | unix</p>
			</div>
			
			<div class="col-md-3">
				<!-- Image here? -->
			</div>
		</div>
	</div>
	
	</div> <!--end bs-docs-section-->

</div>



<div class="container">
	<div class="bs-docs-section">
		<div class="page-header">
          <div class="row">
            <div class="col-md-12">
              <h3 id="buttons">Work Experience:</h3>
            </div>
          </div>
        </div>
	
	<!--company 1-->
	<div class="row">
		<div class="entry">
			<div class="col-md-2 company">
				<p class="compName">Carbide 3D</p>
				<p>carbide3d.com</p>
				<p>October 2016 - Present</p>
				<p>Software Engineering Intern</p>
			</div>
			
			<div class="col-md-7">
				<p><span class="glyphicon glyphicon-chevron-right"></span>Developed a conversational programming web application for simple gCode generation of common parts from key dimensions using: Node.js, webpack, svg.js, mocha/chai and Bootstrap.</p>
				<p><span class="glyphicon glyphicon-chevron-right"></span>Developed a standalone application for updating firmware on a desktop CNC in C++.</p>
				<p><span class="glyphicon glyphicon-chevron-right"></span>Implemented using Qt framework for cross-platform portability.</p>
				<p><span class="glyphicon glyphicon-chevron-right"></span>Debugged serial communication.</p>
				<p><span class="glyphicon glyphicon-chevron-right"></span>Programmed, debugged and released under both Windows and Mac.</p>
			</div>
			
			<div class="col-md-3">
				<a href="http://docs.carbide3d.com/support/carbideupdater/" target="_blank"><img src="img/cuUpdatingThmb.png" alt="Carbide Updater link" /></a>

			</div>
		</div>
	</div>
	
	<!--company 2-->
	<div class="row">
		<div class="entry">
			<div class="col-md-2 company">
				<p class="compName">Spurcycle</p>
				<p>spurcycle.com</p>
				<p>January 2014 - Present</p>
				<p>Mechanical/ Software Engineer</p>
			</div>
			
			<div class="col-md-7">
				<p><span class="glyphicon glyphicon-chevron-right"></span>Automated a critical manufacturing process with microcontrollers and custom fixtures.</p>
				<p><span class="glyphicon glyphicon-chevron-right"></span>Designed, machined, wired, and programmed automatic manufacturing fixtures.</p>
				<p><span class="glyphicon glyphicon-chevron-right"></span>Designed and engineered new products as part of a group.</p>
				<p><span class="glyphicon glyphicon-chevron-right"></span>Increased output 10x for the same amount of labor while increasing product consistency.</p>
				<p><span class="glyphicon glyphicon-chevron-right"></span>Performed SolidWorks modeling, CNC machining, and 3d printing of prototypes in-house to dramatically speed up prototype iteration.</p>
			</div>
			
			<div class="col-md-3">
					<a href="img/spxBMv3.jpg" target="_blank"><img src="img/spxBMv3Thmb.jpg" alt="Manufacturing Machine Image" />
					</a>

			</div>
		</div>
	</div>
	
	</div> <!--end bs-docs-section-->

</div>


<div class="container">
	<div class="bs-docs-section">
		<div class="page-header">
          <div class="row">
            <div class="col-md-12">
              <h3 id="buttons">Notable Projects:</h3>
            </div>
          </div>
        </div>
	
	<!--project 1-->
	<div class="row">
		<div class="entry">
			<div class="col-md-2 company">
				<p class="compName">Correlation App</p>
				<p><a href="https://ancient-shelf-87214.herokuapp.com" target="_blank">Check it out!</a></p>
				<p>Node.js, bootstrap, d3.js</p>
			</div>
			
			<div class="col-md-7">
				<p><span class="glyphicon glyphicon-chevron-right"></span>Designed and developed a front end for an application that uses machine learning to infer patterns in habits and uses d3.js graphs to display results based on each user’s individual data.</p>
			</div>
			
			<div class="col-md-3">
				<a href="https://ancient-shelf-87214.herokuapp.com" target="_blank"><img src="img/cAppThmb.png" alt="Correlation Application Screenshot" />
					</a>

			</div>
		</div>
	</div>
	
	<!--project 2-->
	<div class="row">
		<div class="entry">
			<div class="col-md-2 company">
				<p class="compName">Feeds and Speeds App</p>
				<p><a href="https://lit-ocean-18439.herokuapp.com/" target="_blank">Check it out!</a></p>
				<p>Node.js, bootstrap, MySql</p>
			</div>
			
			<div class="col-md-7">
				<p><span class="glyphicon glyphicon-chevron-right"></span>Application for keeping track of endmill feeds and speeds for CNC mills.</p>
				<p><span class="glyphicon glyphicon-chevron-right"></span>Designed the implemented MySql database for keeping track of the complex data.</p>
				<p><span class="glyphicon glyphicon-chevron-right"></span>Developed the front end for interacting with the database.</p>
			</div>
			
			<div class="col-md-3">
					<a href="https://lit-ocean-18439.herokuapp.com/" target="_blank"><img src="img/fsAppThmb.png" alt="Feeds and Speeds Application Screenshot" />
					</a>

			</div>
		</div>
	</div>
	
	</div> <!--end bs-docs-section-->

</div>

<!--Education Section-->
<div class="container">
	<div class="bs-docs-section">
		<div class="page-header">
          <div class="row">
            <div class="col-md-12">
              <h3 id="buttons">Education:</h3>
            </div>
          </div>
        </div>
	
	<!--School 1-->
	<div class="row">
		<div class="entry">
			<div class="col-md-2 company">
				<p class="compName">Oregon State University</p>
				<p>Corvallis, OR</p>
				<p>August, 2017</p>
			</div>
			
			<div class="col-md-7">
				<p>B.S. in Computer Science</p>
				<p>Additional courses in Physics, Calculus, Mechanical Engineering, and Machine Learning</p>
				<p>GPA: 3.93/4.0</p>
			</div>
			
			<div class="col-md-3">
				<!-- Image here? -->
			</div>
		</div>
	</div>
	
	<!--School 2-->
	<div class="row">
		<div class="entry">
			<div class="col-md-2 company">
				<p class="compName">Rochester Institute of Technology</p>
				<p>Rochester, NY</p>
				<p>June, 2010</p>
			</div>
			
			<div class="col-md-7">
				<p>B.F.A in Industrial Design</p>
				<p>A.A.S in Graphic Design</p>
				<p>GPA: 3.4/4.0</p>
			</div>
			
			<div class="col-md-3">
				<!-- Image here? -->
			</div>
		</div>
	</div>
	
	</div> <!--end bs-docs-section-->

</div>


<div class="container">
	<div class="separatorLineBreakHR center-block"></div>
</div>


<div class="footer">
    <div class="row">
        <div class="col-md-12">
			<p>Copyright 2k17 Konstantin Y.</p>            
        </div>
    </div>
</div>
		




<!-- Login Modal 
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Please Login.</h4>
		<p>After you login, it might take a little while for your data to be retrieved. Wait times of 5-10sec have been recorded in testing.</p>
		<p>Just be patient. I believe in you. Hugs.</p>
      </div>
      <div class="modal-body">
		<div class="alert alert-danger" role="alert" id="alertLogin">
		  <span class="sr-only">Error:</span>
		  The login information that you put in appears to be incorrect, please try again.
		</div>
		
        <p>Default Login: 123:123</p>
		<form>
          <div class="form-group">
            <label for="recipient-name" class="control-label">Login:</label>
            <input type="text" class="form-control" id="loginName">
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">Password:</label>
			<input type="password" class="form-control" id="loginPass">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="modalSubmit" >Login</button>
      </div>
    </div>
  </div>
</div>

-->

<!-------------------- END OF CONTENT------------------------->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!--https://www.bootstrapzero.com/bootstrap-template/slate-theme-->
<script src="js/bootstrap.min.js"></script>

<script type="text/javascript" src="js/bootstrap-lightbox.js"></script> 


<!-- LOAD SCRIPTS -->
<script src="knsyWebClient.js"></script>


