<nav class="navbar navbar-dark bg-dark navbar-expand-lg"> <!--navbar-fixed-top-->
	<div class="container">
        <div class="navbar-header">
          <a href="../" class="navbar-brand">konstantin.y</a>
          <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbar-main">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
		
        <div class="navbar-collapse collapse" id="navbar-main">
          <ul class="nav navbar-nav">

		  <!-- Menu to be filled in.

            <li class="dropdown disabled">
              <a class="dropdown-toggle disabled" data-toggle="dropdown" href="#" id="themes">Programming <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="themes">
                <li><a href="../default/">Default</a></li>
                <li class="divider"></li>
                <li><a href="../cerulean/">Web</a></li>
                <li><a href="../cosmo/">Desktop</a></li>
				<li><a href="../cosmo/">Embedded</a></li>
              </ul>
            </li>
            
			<li class="disabled">
              <a href="#blank">Mechanical Engineering</a>
            </li>
			
			<li class="disabled">
              <a href="#blank">Industrial Design</a>
            </li>
            
			<li class="dropdown disabled">
              <a class="dropdown-toggle disabled" data-toggle="dropdown" href="#" id="download">Travel <span class="caret"></span></a>
              <ul class="dropdown-menu" aria-labelledby="download">
                <li><a href="http://uponspokedwings.weebly.com/">CA->AK</a></a></li>
                <li class="divider"></li>
                <li><a href="https://plus.google.com/b/117376142999847741176/">Google+ Photos</a></li>
              </ul>
			</li> -->
          </ul>

          <ul class="nav navbar-nav navbar-right ml-auto">
            <li class="nav-item"><a href="https://github.com/knsy" class="nav-link" target="_blank">@github</a></li>
            <li class="nav-item"><a href="https://www.linkedin.com/in/kyakovenko"  class="nav-link" target="_blank">@linkedin</a></li>
			<li class="nav-item"><a href="https://plus.google.com/b/117376142999847741176/"  class="nav-link" target="_blank">@g+</a></li>
          </ul>

        </div>
	
	</div>
</nav>


<div class="container">
	<div class="bs-docs-section">
		<div class="jumbotron" id="intro">
		<div class="row">
			<div class="col-md-2 right">
				<h1>WeatherMap!</h1>
			</div>		
		</div>

		<div class="row">
		  <div class="col-md-10 offset-md-2"> 
		  
		  <p>Get intermediate weather between 2 points!</p>
		  <p>Don't get caught in the rain on a motorcycle or a bicycle ride!</p>
		  </div>
		</div>
		</div>
	</div>
</div>


<div class="container">
		<div id="map"> </div>
</div>

<div class="container">
	<div class="separatorLineBreakHR center-block"></div>
</div>


<div class="footer">
    <div class="row">
        <div class="col-md-12">
			<p>Copyright 2k17 Konstantin Y.</p>            
        </div>
    </div>
</div>
		




<!-- Login Modal 
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Please Login.</h4>
		<p>After you login, it might take a little while for your data to be retrieved. Wait times of 5-10sec have been recorded in testing.</p>
		<p>Just be patient. I believe in you. Hugs.</p>
      </div>
      <div class="modal-body">
		<div class="alert alert-danger" role="alert" id="alertLogin">
		  <span class="sr-only">Error:</span>
		  The login information that you put in appears to be incorrect, please try again.
		</div>
		
        <p>Default Login: 123:123</p>
		<form>
          <div class="form-group">
            <label for="recipient-name" class="control-label">Login:</label>
            <input type="text" class="form-control" id="loginName">
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label">Password:</label>
			<input type="password" class="form-control" id="loginPass">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="modalSubmit" >Login</button>
      </div>
    </div>
  </div>
</div>

-->

<!-------------------- END OF CONTENT------------------------->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<!--https://www.bootstrapzero.com/bootstrap-template/slate-theme-->
<!--<script src="js/bootstrap.min.js"></script>-->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

<!--Google Maps API-->
<script>
	var map;
	function initMap() {
		map = new google.maps.Map(document.getElementById('map'), {
					  center: {lat: 37.6624, lng: -121.8747},
						zoom: 10
						});
	  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBSwng549feGunMYHXQAmBV1LTjbqCJofM&callback=initMap" async defer></script>

<!-- LOAD SCRIPTS -->
<script src="knsyWebClient.js"></script>


